<mat-grid-list cols="4">
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/monitor.png" width="100" height="100">
      <mat-card-content>
        <p>
          Monitor
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-raised-button color="warn" [routerLink] = "['monitor']">Continue</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/config.png" width="100" height="100">
      <mat-card-content>
        <p>
          Config
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-raised-button color="warn" [routerLink] = "['config']">Continue</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

