<button md-raised-button color="primary" (click)="getConfigData()">Get Token</button>
<button md-raised-button color="warn" (click)="onInputChange()">Submit</button>

<md-tab-group>

  <md-tab label = "Config-OP">
    <md-list *ngFor="let config of configData;let i=index">
      <md-form-field *ngIf = "config.tag === 0 && config.fileAddress === 0">
        <input mdInput [(ngModel)]="this.config.value" placeholder="{{this.config.key}}">
      </md-form-field>
      <md-form-field *ngIf = "config.tag === 1 && config.fileAddress === 0">
        <input mdInput [(ngModel)]="this.config.value" placeholder="{{this.config.key}}">
      </md-form-field>
      <md-checkbox *ngIf = "config.tag === 2 && config.fileAddress === 0" [checked]="this.config.value" [(ngModel)]="this.config.value" >
        {{this.config.key}}
      </md-checkbox >
      <md-form-field *ngIf = "config.tag === 3  && config.fileAddress === 0">
        <input mdInput [(ngModel)]="this.config.value" placeholder="{{this.config.key}}">
      </md-form-field>
      <md-select *ngIf = "config.tag === 4 && config.fileAddress === 0" placeholder="{{this.config.key}}" [(ngModel)]="this.currentValue[this.i]">
        <md-option  *ngFor="let count of this.optionValue[this.i]" [value] = "count">
          {{count}}
        </md-option>
      </md-select>
    </md-list>
  </md-tab>
  <!--*ngFor="let food of this.counter2 | slice:start[:end]"-->
  <md-tab label = "Config OP World">
  </md-tab>
  <md-tab label = "Config OP Vision">
  </md-tab>
</md-tab-group>

<!--[value]=this.currentValue[i]-->
<!--<form (ngSubmit)="onPost(f)" #f="ngForm">-->
  <!--<md-checkbox ngModel name="key">Check me!</md-checkbox>-->
  <!--<button md-raised-button color="primary" type="submit">Get</button>-->
  <!--<md-list *ngFor="let config of configData">-->
    <!--<md-form-field *ngIf="config.tag === 0 && config.fileAddress === 0">-->
      <!--<input mdInput ngModel name = "key" placeholder = "{{config.value}}" >-->
      <!--&lt;!&ndash;{{config.value}}&ndash;&gt;-->
    <!--</md-form-field>-->


    <!--<md-form-field>-->
    <!--<input mdInput placeholder="Favorite food" value="Sushi" ngModel name="test">-->
  <!--</md-form-field>-->
  <!--<md-form-field>-->
    <!--<input mdInput placeholder="Favorite food" value="Sushi" ngModel name="tes2t">-->
  <!--</md-form-field>-->

  <!--</md-list>-->
<!--</form>-->
